.ol-view-info{
  background:rgba(255,255,255,.4);
  border-radius:4px;
  bottom:8px;
  left:8px;
  padding:3px;
  position:absolute
}
 
.ol-view-info-inner{
  background:rgba(0,60,136,.5);
  /*border:1px solid #eee;
  border-top:none;*/
  border-radius:3px;
  color:#eee;
  font-size:12px;
  text-align:right;
  padding:2px;
  margin:1px
  will-change:contents,width
}